.board {
  display: grid;
  grid-template: repeat(3, minmax(5vh, 1fr)) / repeat(3, minmax(5vw, 1fr));
  gap: 6px;
  width: 67%;
  height: 67%;
  border: 2px solid #39ace7;
  border-radius: 5px;
  padding: 5px;
  background-color: #2d383c;
}
.board button {
  width: 100%;
  height: 100%;
  margin: auto;
  align-self: center;
  justify-self: center;
}
.buttonDiv {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
