.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 7vw;
  color: #0784b5;
  margin-bottom: 10%;
}
.buttonsDiv {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #192428;
}
.Button {
  width: 20%;
  height: 100%;
  border-radius: 8px;
  border: none;
  background-color: #0784b5;
  color: #192428;
  font-size: 7vw;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
